form {
    color: black;
}

.loginForm {
    min-width: 20rem;
    background-color: #ebebeb;
    padding: 30px;
    border-radius: 30px;
    box-shadow: 10px 10px 8px rgba(0, 0, 0, 0.16);
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}

.twoCol {
    display: flex;
    justify-content: space-between;
}

.stacked {
    display: flex;
    flex-direction: column;
    margin: 10px;
}

input {
    padding: 5px;
    border-radius: 5px;
    border: 0;
    box-shadow: 0 0 15px 4px rgba(0, 0, 0, 0.16);
}

label {
    margin-bottom: 5px;
}

button {
    appearance: none;

    padding: 10px;
    margin: 10px;
    float: right;
    border: none;
    background-color: #05386b;
    color: #edf5e1;
    font-weight: bold;
    border-radius: 5px;
    box-shadow: 0 0 15px 4px rgba(0, 0, 0, 0.16);

    vertical-align: middle;
}

button:hover {
    filter: brightness(1.4);
}

.error {
    width: 100%;
    padding: 1px 5px;

    border-radius: 10px;

    background-color: #FF5D73;
    color: #ffffff;

    text-align: center;
}